<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Peer Challenge | MongoDB & Mongoose</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-controller="assignmentController">
      Student Name: <input type="text" value="" ng-model="studentNameIn">
      Assignment Number: <input type="text" value="" ng-model="assignmentNumberIn">
      Score: <input type="text" value="" ng-model="scoreIn">
      Date Completed: <input type="number" value="" ng-model="dateIn">
      <button type="button" name="button" ng-click="addRecord()">Submit</button>
      <button type="button" name="button" ng-click="getRecords()">Display Records</button>
      <p ng-repeat="record in allTheRecords">{{record.student_name}} {{record.assignment_number}} {{record.score}} {{record.date_completed}}</p>
    </div>
  </body>
</html>
